@import "tailwindcss";

:root {
  /* Colores Corporativos Estáticos Solicitados */
  --background: #09090B; /* Fondo Base */
  --surface: #18181B;    /* Superficies y Tarjetas */
  --primary: #1D427F;    /* Botones, hovers y activos */
  --foreground: #F8FAFC; /* Texto */
  
  /* Otras utilidades */
  --border: #27272a;
  --input-bg: #09090B;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex), ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* Clases utilitarias personalizadas para no tener que usar variables nativas repetidas */
@layer utilities {
  .bg-base { background-color: var(--background); }
  .bg-surface { background-color: var(--surface); }
  .bg-primary { background-color: var(--primary); }
  .text-base-fg { color: var(--foreground); }
  .border-custom { border-color: var(--border); }
}
